/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("images/bg.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  color: #f5c79c !important;
}

.wrapper {
  height: 346px;
  width: 250px;
  border: 5px solid #8c5c3e;
  position: relative;
  perspective: 1000px;
}


.window {
  background-color: #8c5c3e;
  height: 100%;
  width: 50%;
  position: absolute;
  /* inner layout */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.shape {
	background-color: #f2eae1;
	border: 2px solid black;
	width: 38px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#left-window{
  top: 0;
  left: 0;
  border: 1px solid #8c5c3e;
  /* transition */
  transform-origin: left;
  transition: transform 0.5s;
}

#right-window{
  top: 0;
  right: 0;
  border: 1px solid #8c5c3e;
  /* transition */
  transform-origin: right;
  transition: transform 0.5s;
}


/* Door swing effect */
.wrapper:hover #left-window{
  transform: rotateY(-140deg);
}

.wrapper:hover #right-window{
  transform: rotateY(140deg);
}
